.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;    
    height: 740px;
}
.son{
    width: 204px;
    height: 260px;
    background-color: rgb(117, 123, 123);
    border-radius: 6px;
}
.stb{
   height: 50px;
   width: 42px;
   margin: 3px;
}
.db{
    display: flex;
    justify-content: space-between;
}

html{
    background-color: rgb(59, 63, 63);
}
.campo{
    margin-top: 1;
    width: 198px;
    height: 30px;;
    color:black;
    margin-left: 1px;
    border: none;
    background-color: rgb(117, 123, 123);
    border-radius: 6px;
}
.stb:hover{
    background-color: rgb(117, 123, 123);
    border-radius: 8px;
}
::placeholder{
    color:black;
}



/*.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;    
    height: 740px;
}
.stb{
   height: 50px;
   width: 42px;
   margin: 3px;
}
.db{
    display: flex;
    justify-content: space-between;
}

.son{
    width: 600px;    
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
html{
    background-color: rgb(59, 63, 63);
}
.campo{
    width: 95%;
    height: 12%;
    color:black;
    margin-left: 1px;
    background-color: rgb(59, 63, 63);
    border: none;

    
}
.stb:hover{
    background-color: bisque;
}*/